A4/Step_Function/definition.txt
{
  "Comment": "A description of my state machine",
  "StartAt": "PassInput",
  "States": {
    "PassInput": {
      "Type": "Pass",
      "Next": "SHA256?"
    },
    "SHA256?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.action",
          "StringMatches": "sha256",
          "Next": "SHA256 Lambda"
        }
      ],
      "Default": "MD5?"
    },
    "MD5?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.action",
          "StringMatches": "md5",
          "Next": "MD5 Lambda"
        }
      ],
      "Default": "BCrypt?"
    },
    "BCrypt?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.action",
          "StringMatches": "bcrypt",
          "Next": "BCrypt Lambda"
        }
      ],
      "Default": "Pass"
    },
    "BCrypt Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:363707741195:function:BCrypt2:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "End": true
    },
    "MD5 Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:363707741195:function:MD5:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "End": true
    },
    "SHA256 Lambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:363707741195:function:SHA256:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "End": true
    },
    "Pass": {
      "Type": "Pass",
      "End": true
    }
  }
}